div{
    background-image: radial-gradient(ellipse at bottom left, red, white);
    height: 900px;
    margin: 10px;
}

.satu{
    width: 750px;
    height: 600px;
    margin: 0 auto;
    background-image: radial-gradient(ellipse at bottom, white, blue);
}

.dua{
    width: 750px;
    height: 250px;
    margin: 0 auto;
    background-image: radial-gradient(ellipse at left, white, blue);
}

